body{
background-image: url(https://yt3.googleusercontent.com/K9IWKwxSK8EDXbPn3gmIQQRiM0sapeXdUGtdIYOnoufsjTxBUkWuso7L4MztN2PqQT_OGHNBXg=s900-c-k-c0x00ffffff-no-rj);
background-size: cover;
background-repeat: no-repeat;

}
table{
   margin-left: 45%;
   margin-top: 13%;
   background-color: black;
   color: greenyellow;
}
#o{
    color: aqua;
}
#a{position: absolute;
left:30% ;
color: aqua;
}
#q{
    position: absolute;
    left: 30%;
    color: aqua;
    top: 60%;
}

input{
    background-color: black;
    color: aqua;
}
#k{
    color: aqua;
}
#s{
    color:aqua;
}